.root {
    -fx-text-background-color: -color-fg-default;
    -fx-background-color: -color-bg-default;
    -fx-highlight-fill: -color-accent-emphasis;
    -fx-prompt-text-fill: -color-fg-subtle;
    -fx-text-inner-color: -color-fg-default;
}

/* Hover effect for all table rows */
.table-row-cell:filled:hover {
    -fx-background-color: -color-accent-emphasis; /* Ένα πολύ ανοιχτό γκρι για hover */
    -fx-text-fill: -color-fg-default; /* Χρησιμοποιεί το προεπιλεγμένο χρώμα κειμένου του θέματος */
}

/* Selected row effect */
.table-row-cell:filled:selected {
    -fx-background-color: -color-accent-emphasis; /* Πιο έντονο χρώμα από το θέμα */
    -fx-font-weight: bold; /* Κάνει το κείμενο πιο έντονο */
    -fx-font-size: 1.3em; /* Ελαφρώς μεγαλύτερο κείμενο */
}

/* Target the text within the selected cell */
.table-row-cell:filled:selected .text {
    -fx-fill: -color-fg-emphasis !important; /* Το κείμενο γίνεται λευκό και υπερισχύει */
}

/* Target the label within the selected cell (if any) */
.table-row-cell:filled:selected .label {
    -fx-text-fill: -color-fg-emphasis !important; /* Το κείμενο γίνεται λευκό και υπερισχύει */
}

/* Combined hover and selected effect */
.table-row-cell:filled:selected:hover {
    -fx-background-color: derive(-color-accent-emphasis, -10%); /* Ελαφρώς πιο σκούρο από το επιλεγμένο */
    -fx-text-fill: -color-fg-emphasis;
}

.table-cell {
      -fx-font-size: 1.1em; /* 10% larger */
  }

/* Larger button text */
.button {
    -fx-font-size: 1.2em; /* 20% larger */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded corners */
}

/* Larger label text and bold titles */
.label {
    -fx-font-size: 1.2em; /* 20% larger */
    -fx-font-weight: bold;
}

.header-label {
    -fx-font-size: 1.8em; /* 80% larger */
    -fx-font-weight: bold;
}

.small-label {
    -fx-font-size: 0.8em; /* -20% larger */
}

.title-label {
    -fx-font-size: 2em; /* 80% larger */
    -fx-font-weight: bold;
}

.text-field {
    -fx-font-size: 1.2em; /* 20% larger */
    -fx-border-color: -color-neutral-emphasis;
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded corners */
}

.tab-pane .tab-header-area .tab {
    -fx-font-size: 1.1em; /* 10% larger */
}

.tab-pane .tab-header-area .tab:selected {
    -fx-font-size: 1.2em; /* 20% larger */
    -fx-font-weight: bold;
}

.tabHas {
    -fx-border-color: #ff0000;
    -fx-border-width: 2px;
}

.notification-bar > .pane {
    -fx-background-color: -color-bg-default;
}