* {
	-fx-primary-color: #ffcc00;
	-fx-secondary-color: #4B6EAF;
	-fx-light-grey-color: #d1d1d1;
	-fx-light-blue-color: #90caf9;


	-fx-focus-color: -fx-secondary-color;
}

/*------------------tableView----------------*/
/* Στυλ του tableView */
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #d1d1d1;
}

/* Στυλ της γραμμής τίτλου κάθε στήλης */
.table-view .column-header {
    -fx-background-color: #e0e0e0; /* Ανοιχτό γκρι για πιο ευδιάκριτο τίτλο */
    -fx-font-weight: bold;
    -fx-text-fill: #333333; /* Σκούρο γκρι κείμενο */
    -fx-font-size: 16px;
    -fx-padding: 5 0 5 0;
}

/* Στυλ των κελιών στον πίνακα */
.table-view .table-cell {
    -fx-font-size: 16px;
    -fx-padding: 5 5 5 5;
    -fx-text-fill: #333333; /* Σκούρο γκρι κείμενο */
}

/* Εναλλασσόμενο χρώμα γραμμών */
.table-row-cell:odd {
    -fx-background-color: #f9f9f9; /* Ανοιχτό γκρι */
}
.table-row-cell:even {
    -fx-background-color: #ffffff; /* Λευκό */
}

/* Χρώμα επιλεγμένης γραμμής */
.table-row-cell:selected {
    -fx-background-color: -fx-primary-color ; /* Πορτοκαλί χρώμα για επιλεγμένη γραμμή */
    -fx-text-fill: white; /* Λευκό κείμενο για ευκρίνεια */
}

/* Χρώμα γραμμής όταν το ποντίκι αιωρείται από πάνω */
.table-row-cell:hover {
    -fx-background-color: -fx-light-blue-color; /* Ανοιχτό μπλε για hovered γραμμές */
    -fx-text-fill: black;
}

/* Κενές γραμμές (για διατήρηση οπτικής συνοχής) */
.table-row-cell:empty {
    -fx-background-color: white;
    -fx-border-color: white;
}

/* Στυλ για ανενεργές (inactive) γραμμές */
.inactive-row {
    -fx-background-color: #cccccc; /* Σκούρο γκρι φόντο */
    -fx-text-fill: white;
}

/* Στυλ για ComboBox */
.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #333333; /* Σκούρο γκρι κείμενο */
}

/* Hover και επιλογή σε ComboBox */
.combo-box .list-cell:hover {
    -fx-background-color: -fx-light-blue-color; /* Ανοιχτό μπλε για hovered items */
    -fx-text-fill: black;
}

.combo-box .list-cell:selected {
    -fx-background-color: -fx-primary-color; /* Πορτοκαλί χρώμα για επιλεγμένο item */
    -fx-text-fill: white;
}

/*------------------MenuItem----------------*/
/* Βασικό στυλ για όλα τα MenuItem */
.menu-item {
    -fx-font-size: 16px;
    -fx-padding: 5 5 5 5;
    -fx-text-fill: #333333; /* Σκούρο γκρι κείμενο */
}


/*------------------TextFields----------------*/
.text-field {
    -fx-background-color: #a9a9a9 ,  white ,  white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-font-size: 24px;
    -fx-prompt-text-fill: gray;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-font-size: 24px;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
        -fx-prompt-translate-y: -25%;
}

/*------------------combo-box----------------*/
.combo-box {
-fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-font-size: 24px;
}

/*------------------button----------------*/
.click-button {
    -fx-background-radius: 50;
    -fx-font-family: CrackMan;
    -fx-font-size: 24;
    -fx-border-color: #D6D8DE;
    -fx-border-radius: 50;
    -fx-border-width: 1;
    -fx-text-fill: black;
}

.click-button:hover {
    -fx-background-color: #EA4630;
    -fx-background-radius: 50;
    -fx-font-family: CrackMan;
    -fx-font-size: 24;
    -fx-border-color: #D6D8DE;
    -fx-border-radius: 50;
    -fx-border-width: 1;
    -fx-text-fill: white;
}

.click-button:pressed {
    -fx-background-color: #BB2528;
    -fx-background-radius: 50;
    -fx-font-family: CrackMan;
    -fx-font-size: 24;
    -fx-border-color: #D6D8DE;
    -fx-border-radius: 50;
    -fx-border-width: 1;
    -fx-text-fill: white;
    -fx-rotate: 2;
}

/*------------------label----------------*/
.header-label{
-fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.normal-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.menu-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

/*------------------pane----------------*/
/* Στυλ για όλα τα Pane */
.pane {
    -fx-background-color: #EEF1F7;
}

/* Στυλ για την Agenda */
.agenda {
    -fx-background-color: #f4f4f4;  /* Απαλή γκρι απόχρωση φόντου */
    -fx-font-size: 14px;
    -fx-font-family: "Arial", sans-serif;
}

/* Στυλ για τα ραντεβού */
.agenda-appointment {
    -fx-background-color: #4CAF50; /* Χρώμα πράσινο για τα ραντεβού */
    -fx-text-fill: white;           /* Λευκό κείμενο */
    -fx-border-radius: 5px;        /* Στρογγυλεμένες γωνίες */
}


/* Στυλ για το label της ημερομηνίας */
#dateRangeLabel {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;  /* Σκούρο γκρι χρώμα */
    -fx-padding: 10px;
    -fx-background-color: #ecf0f1;  /* Ελαφρύ γκρι φόντο */
    -fx-border-radius: 5px;
}

/* Ειδικό στυλ για την προβολή ημερών */
.agenda-day {
    -fx-background-color: #ffffff;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}

/* Ειδικό στυλ για την τρέχουσα ημέρα */
.agenda-day-today {
    -fx-background-color: #ffeb3b;  /* Κίτρινο για την τρέχουσα ημέρα */
}

.tooltip {
    -fx-background-color: #2a2a2a;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
}
