/* Κεντρικές χρωματικές μεταβλητές */
* {
    -fx-primary: #0077cc; /* Κύριο μπλε */
    -fx-secondary: #005599; /* Σκούρο μπλε */
    -fx-accent: #b3d5ff; /* Απαλό μπλε */
    -fx-background: #e6f2ff; /* Απαλό γαλάζιο */
    -fx-text: #333333; /* Σκούρο γκρι για κείμενο */
    -fx-hover: #3399ff; /* Χρώμα hover */
    -fx-border: #005599; /* Χρώμα περιγράμματος */
    -fx-selected: #2899eb; /* Χρώμα επιλογής 0077cc*/

     -fx-font-family: Arial;
}

/*------------------tableView----------------*/
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: -fx-border;
}

.table-view .column-header {
    -fx-background-color: -fx-accent;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-text;
    -fx-font-size: 18px;
    -fx-padding: 5 0;
}

.table-view .table-cell {
    -fx-font-size: 18px;
    -fx-padding: 5;
    -fx-text-fill: -fx-text;
    -fx-border-color: -fx-border;
    -fx-border-width: 2px 1px 0 0; /* Δεξιά γραμμή μεταξύ των στηλών */
}

.table-row-cell:odd {
    -fx-background-color: #e8f2ff;
}

.table-row-cell:even {
    -fx-background-color: #ffffff;
}

.table-row-cell:selected {
    -fx-background-color: -fx-selected;
    -fx-text-fill: white;
}

.table-row-cell:selected .text{
    -fx-fill: black;
    -fx-font-weight: bold;
}

.table-row-cell:hover {
    -fx-background-color: -fx-hover;
    -fx-text-fill: black;
}

.table-row-cell:empty {
    -fx-background-color: white;
    -fx-border-width: 0 0 0 0;
}


/*------------------Buttons----------------*/
.click-button {
    -fx-background-color: -fx-background;
    -fx-background-radius: 8px;
    -fx-font-size: 20px;
    -fx-border-color: -fx-border;
    -fx-border-radius: 8px;
    -fx-border-width: 1;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 6, 0, 0, 2);
}

.click-button:hover {
    -fx-background-color: -fx-hover;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.12), 8, 0, 0, 3);
    -fx-translate-y: -1px;
}

.click-button:pressed {
    -fx-background-radius: 8px;
    -fx-font-size: 20px;
    -fx-border-color: -fx-border;
    -fx-text-fill: white;
    -fx-rotate: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 4, 0, 0, 1);
}

/*------------------TextFields----------------*/
.text-field {
    -fx-background-color: white;
    -fx-border-color: #B6CCFE;
    -fx-border-width: 1.5px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-size: 24px;
    -fx-prompt-text-fill: gray;
    -fx-padding: 8px 12px;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.05), 2, 0, 0, 1);
}

.text-field:focused {
    -fx-background-color: #a9a9a9, white, white;
    -fx-font-size: 24px;
    -fx-border-width: 3px;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-prompt-translate-y: -30%;
}

/*------------------TextArea----------------*/
.text-area {
    -fx-background-color: white;
    -fx-border-color: #B6CCFE;
    -fx-border-width: 1.5px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-size: 24px;
    -fx-prompt-text-fill: gray;
    -fx-padding: 8px 12px;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.05), 2, 0, 0, 1);
}

/*------------------ComboBox----------------*/
.combo-box {
    -fx-border-width: 1.5px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-size: 24px;
    -fx-prompt-text-fill: gray;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.05), 2, 0, 0, 1);
}

.combo-box:focused {
    -fx-border-color: #1D4E89;
    -fx-effect: dropshadow(three-pass-box, rgba(42,111,151,0.15), 6, 0, 0, 2);
}

/* Το κουμπί dropdown */
.combo-box .arrow-button {
    -fx-background-color: #B6CCFE;
    -fx-background-radius: 0 6px 6px 0;
}

.combo-box .arrow-button:hover {
    -fx-background-color: #CBD5E1;
}

/* Το βέλος */
.combo-box .arrow {
    -fx-shape: "M0,0 L4,4 L8,0 Z"; /* τριγωνικό βέλος */
    -fx-background-color: #0077cc;
}

/* Τα αντικείμενα της λίστας */
.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-border-color: #B6CCFE;
    -fx-border-radius: 6px;
}

.combo-box-popup .list-cell {
    -fx-padding: 8px 12px;
    -fx-font-size: 24px;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: -fx-hover;
    -fx-text-fill: black;
}

.combo-box-popup .list-cell:selected {
    -fx-background-color: -fx-selected;
    -fx-text-fill: white;
}

/*------------------Labels----------------*/
.header-label {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5), 0,0,0,1);
}

.normal-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5), 0,0,0,1);
}

/*------------------Context Menu----------------*/
.context-menu {
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-border;
    -fx-border-width: 2px;
}

/* Μορφοποίηση των MenuItem */
.context-menu .menu-item {
    -fx-background-color: -fx-background;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-font-size: 16px;
}

/* Αλλαγή χρώματος όταν το στοιχείο είναι επιλεγμένο */
.context-menu .menu-item:hover {
    -fx-background-color: -fx-hover;
    -fx-text-fill: white;
}

/*------------------General Pane----------------*/
.pane {
    -fx-background-color: -fx-background;
}

/*------------------Tooltips----------------*/
.tooltip {
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-text;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-color: -fx-border;
    -fx-border-width: 1px;
}

/*------------------Checkbox----------------*/
.jfx-check-box {
    -jfx-checked-color: -fx-primary;
    -jfx-unchecked-color: black;
}

.jfx-check-box .mark {
    -fx-border-color: white;
}

/*------------------Tab----------------*/
.tab-pane {
    -fx-background-color: -fx-background;
    -fx-text-fill: white;
}

.tab-pane .tab-header-background {
    -fx-background-color: -fx-background;
}

.tab-pane:top .tab-header-area {
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.tab {
    -fx-background-color: transparent;
    -fx-font-size: 20px; /* Μεγαλύτερη γραμματοσειρά */
    -fx-padding: 10px 10px 10px 10px; /* Μεγαλύτερο padding (πάνω-κάτω, αριστερά-δεξιά) */
    -fx-background-radius: 10px 10px 0 0;
    -fx-border-color: -fx-border;
    -fx-border-radius: 10px 10px 0 0;
    -fx-border-width: 2px;
}

.tab-pane .tab .tab-close-button {
    -fx-background-color: red; /* Κόκκινο background */
    -fx-padding: 10px; /* Μεγαλύτερο padding */
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}


.tabHas {
    -fx-background-color: transparent;
    -fx-font-size: 20px; /* Μεγαλύτερη γραμματοσειρά */
    -fx-padding: 10px 10px 10px 10px; /* Μεγαλύτερο padding (πάνω-κάτω, αριστερά-δεξιά) */
    -fx-text-fill: -fx-text;
    -fx-background-radius: 10px 10px 0 0;
    -fx-border-color: #ff0000;
    -fx-border-radius: 10px 10px 0 0;
    -fx-border-width: 2px;
}
.tab:selected {
    -fx-background-color: -fx-primary;
}
.tab:selected .tab-label {
    -fx-text-fill: white; /* Κείμενο λευκό όταν η καρτέλα είναι επιλεγμένη */
    -fx-font-weight: bold; /* Εντονο κείμενο όταν η καρτέλα είναι επιλεγμένη */
}
.tab:hover {
    -fx-background-color: -fx-hover;
}

/*------------------titled pane----------------*/
.titled-pane {
    -fx-background-color: -fx-background;
}

.titled-pane > .title {
     -fx-background-color: transparent;
     -fx-font-size: 20px; /* Μεγαλύτερη γραμματοσειρά */
     -fx-padding: 10px 10px 10px 10px; /* Μεγαλύτερο padding (πάνω-κάτω, αριστερά-δεξιά) */
     -fx-background-radius: 10px 10px 0 0;
     -fx-border-color: -fx-border;
     -fx-border-radius: 10px 10px 0 0;
     -fx-border-width: 2px;
}

.titled-pane:hover > .title {
    -fx-background-color: -fx-hover;
}

.titled-pane:expanded > .title {
    -fx-background-color: -fx-primary;
}

.titled-pane:expanded > .title .text {
    -fx-fill: white;
    -fx-font-weight: bold;
}

.titled-pane > .content {
    -fx-background-color: -fx-background;
    -fx-padding: 10px;
    -fx-border-radius: 0 0 10px 10px;
}


.completed-entry {
    -fx-background-color: lightgray !important;
    -fx-text-fill: darkgray !important;
    -fx-font-style: italic;
}

.list-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-border: 2px;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5), 0,0,0,1);
}

.list-view1 {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 6, 0, 0, 2);
}

.list-cell {
    -fx-border-color: #F1F5F9;
    -fx-border-width: 0 0 1px 0; /* Μόνο κάτω όριο */
    -fx-padding: 5px;
    -fx-font-size: 16px;
}

.list-cell:selected {
    -fx-font-weight: bold;
    -fx-background-color: -fx-selected; /* Μπλε επιλογή */
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.list-cell:empty {
    -fx-border-width: 0 0 0 0; /* Μόνο κάτω όριο */
}

.entry-label {
    -fx-font-size: 14px;  /* Μέγεθος τίτλου Entry */
}

.card {
    -fx-padding: 8px;
    -fx-border-color: #ced4da;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 10, 0.1, 0, 2);

}
