/* Κεντρικές χρωματικές μεταβλητές */
* {
    -fx-primary-color: #47b9d0;
    -fx-secondary-color: #eab676;
    -fx-light-grey-color: #d1d1d1;
    -fx-light-blue-color: #90caf9;
    -fx-focus-color: -fx-secondary-color;
}

/*------------------tableView----------------*/
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #d1d1d1;
}

.table-view .column-header {
    -fx-background-color: #e0e0e0;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-font-size: 16px;
    -fx-padding: 5 0;
}

.table-view .table-cell {
    -fx-font-size: 16px;
    -fx-padding: 5;
    -fx-text-fill: #333;
}

.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-row-cell:even {
    -fx-background-color: #ffffff;
}

.table-row-cell:selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}

.table-row-cell:hover {
    -fx-background-color: -fx-light-blue-color;
    -fx-text-fill: black;
}

.table-row-cell:empty {
    -fx-background-color: white;
    -fx-border-color: white;
}

.inactive-row {
    -fx-background-color: #cccccc;
    -fx-text-fill: white;
}

/*------------------ComboBox----------------*/
.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #333;
}

.combo-box .list-cell:hover {
    -fx-background-color: -fx-light-blue-color;
    -fx-text-fill: black;
}

.combo-box .list-cell:selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}

/*------------------Buttons----------------*/
.click-button {
    -fx-background-color: #e5f8fd;
    -fx-background-radius: 50;
    -fx-font-family: CrackMan;
    -fx-font-size: 24px;
    -fx-border-color: #D6D8DE;
    -fx-border-radius: 50;
    -fx-border-width: 1;
    -fx-text-fill: black;
}

.click-button:hover {
    -fx-background-color: #03C1F4;
    -fx-text-fill: white;
}

.click-button:pressed {
    -fx-background-radius: 50;
    -fx-font-family: CrackMan;
    -fx-font-size: 24px;
    -fx-border-color: #D6D8DE;
    -fx-text-fill: white;
    -fx-rotate: 1;
}

/*------------------TextFields----------------*/
.text-field {
    -fx-background-color: #a9a9a9, white, white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-font-size: 24px;
    -fx-prompt-text-fill: gray;
}

.text-field:focused {
    -fx-background-color: #a9a9a9, white, white;
    -fx-font-size: 24px;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-prompt-translate-y: -25%;
}

/*------------------Labels----------------*/
.header-label {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5), 0,0,0,1);
}

.normal-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5), 0,0,0,1);
}

/*------------------General Pane----------------*/
.pane {
    -fx-background-color: #EEF1F7;
}

/*------------------Tooltips----------------*/
.tooltip {
    -fx-background-color: #2a2a2a;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
}

/*------------------Checkbox----------------*/
.jfx-check-box {
    -jfx-checked-color: #004fe1;
    -jfx-unchecked-color: black;
}

.jfx-check-box .mark {
    -fx-border-color: white;
}

/*------------------Tab----------------*/

/* Στυλ για τα TabPane και Tab */
.tab-pane {
    -fx-background-color: #EEF1F7;
}
.tab-pane .tab-header-background {
    -fx-background-color: #EEF1F7;
}
.tab-pane:top .tab-header-area {
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}
.tab {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-text-fill: #333333;
    -fx-padding: 10px;
    -fx-background-radius: 10px 10px 0 0;
    -fx-border-color: -fx-primary-color;
    -fx-border-radius: 10px 10px 0 0;
    -fx-border-width: 2px;
}
.tabHas {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-text-fill: #333333;
    -fx-padding: 10px;
    -fx-background-radius: 10px 10px 0 0;
    -fx-border-color: #FF0000;
    -fx-border-radius: 10px 10px 0 0;
    -fx-border-width: 3px;
}

/* Στυλ για το ενεργό Tab */
.tab:selected {
    -fx-background-color: -fx-primary-color; /* Πορτοκαλί χρώμα για το ενεργό Tab */
    -fx-text-fill: white; /* Λευκό κείμενο για το ενεργό Tab */
}

/* Στυλ για το Tab όταν το ποντίκι αιωρείται από πάνω */
.tab:hover {
    -fx-background-color: -fx-light-blue-color; /* Ανοιχτό μπλε όταν το Tab είναι hovered */
    -fx-text-fill: black; /* Σκούρο κείμενο για hovered Tab */
}

/* Στυλ για τα Tab Pane περιθώρια */
.tab-header-area {
    -fx-background-color: #f4f4f4; /* Απαλή γκρι απόχρωση φόντου */
    -fx-padding: 0 5px 0 5px; /* Ελαφρύ padding γύρω από τα tabs */
}

/* Στυλ για το περιεχόμενο του Tab */
.tab-content {
    -fx-background-color: #ffffff; /* Λευκό φόντο για το περιεχόμενο του Tab */
    -fx-padding: 10px;
}
